.card-img-overlay {
    text-shadow: 1px 1px 2px rgb(14, 14, 14);
}

.card-img {
    opacity: 0.75;
    min-width: 300px;
    min-height: 100px;
}

.dropDownstyle{
    font-size: 24px;
}

.cardMain{
    text-shadow: 1px 1px 2px rgb(14, 14, 14);
}

.dropDownMenu{
    height: 50px;
    width: 50px;
}

.myBtnStyle{
    border-style: none;
    color: white;
    text-shadow: 1px 1px 3px rgb(14, 14, 14);
}

.cardExpanded {
    width: 100%;
    height: 100%;
    /* border-style: solid; */
    border-width: 1px;
    border-color: lightgray;
    background-color: white;
    color: rgb(90, 90, 90);
    text-shadow: 0 0 0 white;
    padding: 5px 5px 5px 5px;
}

@media only screen and (max-width: 600px) {
    #portofilo-cards {
        -webkit-column-count: 1;
        -moz-column-count: 1;
        column-count: 1;
    }
    .dropDownstyle{
        font-size: 48px;
    }
}

@media only screen and (min-width: 768px) {
    #portofilo-cards {
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
    }
    .dropDownstyle{
        font-size: 48px;
    }
}

@media only screen and (min-width: 1024px) {
    #portofilo-cards {
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
    }
    .dropDownstyle{
        font-size: 24px;
    }
}

@media only screen and (min-width: 1025px) {
    #portofilo-cards {
        -webkit-column-count: 3;
        -moz-column-count: 3;
        column-count: 3;
    }
    .dropDownstyle{
        font-size: 24px;
    }
}

@media only screen and (min-width: 1500px) {
    .card-columns {
        -webkit-column-count: 3;
        -moz-column-count: 3;
        column-count: 3;
    }
    .dropDownstyle{
        font-size: 24px;
    }
}

@media only screen and (min-width: 2000px) {
    .card-columns {
        -webkit-column-count: 4;
        -moz-column-count: 4;
        column-count: 4;
    }
    .dropDownstyle{
        font-size: 24px;
    }
}

/* @media only screen and (min-width: 3500px) {
    .card-columns {
        -webkit-column-count: 6;
        -moz-column-count: 6;
        column-count: 6;
    }

    .dropDownstyle{
        font-size: 24px;
    }
} */

#myJumboTron{
    background-image: url(../img/backgrounds/borealis-cabin.jpg);
    background-size: cover;
}

#mainBio{
    height: 100%;
    width: 100%;
    min-width: 300px;
    min-height: 200px;
}

#main-content .col{
    padding: 0px;
    margin: 0px;
}

#bio-text .card{
    color: black;
    border: none;
    margin: 0px;
}

#bio-text .card .card-header:hover{
    background-color: darkgrey;
}
#bio-text .card span{
    float: right;
}

#mainBioImg {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 66%;
    width: 66%;
    max-height: 66%;
    max-width: 66%;
}